/* Selektor typu elementu */

#hero {
  color: #3f51b5;
}

/* Selektor klasy */

.title {
  color: skyblue;
}

/* Selektor potomka */
/* Stosuje się do wszystkich linków w dokumencie */
a {
  color: tomato;
}

/* Stosuje się do linków znajdujących się wewnątrz list nieuporządkowanych */
ul a {
  color: tomato;
}

/* Stosuje się tylko do linków wewnątrz znacznika z klasą social-links */
.social-links a {
  color: tomato;
}

/* Selektor dziecka */

/* ✅ To, czego potrzebujesz */
.menu > li {
  border: 1px solid tomato;
}

/* Selektory stanu (pseudoklasy) */

/* ✅ */
selektor:pseudoklasa {
  /* Właściwości */
}

/* ❌ */
selektor :pseudoklasa {
  /* Właściwości */
}

/* Pseudoklasa :hover jest aktywowana, gdy kursor myszy znajduje się w obrębie elementu, na przykład po najechaniu na link lub inny element. */

.link {
  color: teal;
}

.link:hover {
  color: tomato;
}

/* inny przykład */

.social-links .link {
  color: teal;
}

.social-links .link:hover {
  color: tomato;
}

/* Pseudoklasa :active występuje, gdy element jest aktywny — link staje się aktywny, gdy najedziesz na niego kursorem i klikniesz myszą. */

/* Ważne jest, aby zrozumieć, że pseudoklasy :hover i :active są różnymi stanami. Stan :hover jest inicjowany, gdy użytkownik najedzie myszką na element i jest zwykle reprezentowany przez zmianę background-color (lub color). Różnica w stylu między stanem :hover i jego brakiem nie musi być wyraźna, ponieważ użytkownik już wie, że najechał na coś myszką. */

.social-links .link {
  color: teal;
}

.social-links .link:hover {
  color: orange;
}

.social-links .link:active {
  color: red;
}

/* Pseudoklasa :focus jest aktywowana, gdy element interaktywny (link, przycisk, pole formularza) uzyskuje fokus po kliknięciu go myszą lub nawigacji po stronie za pomocą klawiatury (klawisz Tab).

Aby uwzględnić najechanie kursorem i fokus, musisz stylizować oba stany jednocześnie. Możesz to zrobić po prostu wymieniając selektory. */

.social-links .link {
  color: teal;
}

/* Dwa lub więcej selektorów dla tej samej reguły są oddzielane przecinkiem */
.social-links .link:hover,
.social-links .link:focus {
  color: orange;
}

/* specyficzność - 0 0 0 1 */
a {
  color: green;
}

/* specyficzność - 0 0 1 0 */
.post-link {
  color: orange;
}

/* specyficzność - 0 0 1 1 */
a.post-link {
  color: blue;
}

/* specyficzność - 0 0 2 0 */
.post > .post-link {
  color: red;
}

/* ✅ specyficzność - 0 0 2 1 */
.post > a.post-link {
  color: brown;
}

/* */

/* specyficzność - 0 0 1 0 */
.post-title {
  color: green;
}

/* ✅ specyficzność - 0 1 0 0 */
#title {
  color: orange;
}

/* awaryjne */

p {
  color: orange !important;
}

p#text-id.text {
  color: blue;
}

/* Przypisywanie klas tylko do wspólnego bloku */

.post {
  /* Style artykułu */
}

.post > h1 {
  /* Style nagłówka */
}

.post > p {
  /* Style tekstu */
}

.post > a {
  /* Style linków */
}

.post > a:hover {
  /* Style linków przy najechaniu */
}

/* Klasy opisowe dla bloku nadrzędnego i znaczników wewnątrz niego */

.post {
  /* Style artykułu */
}

.post > .title {
  /* Style nagłówka */
}

.post > .text {
  /* Style tekstu */
}

.post > .link {
  /* Style linków */
}

.post > .link:hover {
  /* Style linków przy najechaniu */
}

/* Specyficzne klasy dla każdego znacznika */

.post {
  /* Style artykułu */
}

.post-title {
  /* Style nagłówka */
}

.post-text {
  /* Style tekstu */
}

.post-link {
  /* Style tekstu przy najechaniu*/
}

.post-link:hover {
  /* Style linków przy najechaniu */
}

/* Jeśli chcesz, aby link w Twoim poście miał ten sam kolor co reszta tekstu, możesz użyć specjalnej wartości inherit dla właściwości color, aby uniknąć powielania koloru w dwóch miejscach. */

.post {
  color: green;
}

.post-link {
  color: inherit;
}

/* currentcolor - by się nie powtarzać */

<a href="" class="link" > Lorem ipsum dolor sit amet</a > .link {
  color: orangered;
  border: 1px solid currentcolor;
}

/* Czcionki */

body {
  font-family: "Helvetica Neue", "Roboto", "Verdana", sans-serif;
}

.page-title {
  font-family: "Georgia", serif;
  font-size: 24px;
  font-weight: 500;
  font-style: italic;
}

/* text-shadow */

.title {
  color: orangered;
  text-shadow: 2px 2px 4px black;
}

/* Znacznik <span class="accent">span</span> to uniwersalny kontener dla małych treści tekstowych. */

/* Globalne style */

body {
  font-family: "Helvetica Neue", "Roboto", "Verdana", sans-serif;
  color: #2a2a2a;
  background-color: #fafafa;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Tahoma";
}

ul,
ol {
  list-style-type: none;
}

/* Model blokowy elementu */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reszta kodu */

/* Jednakowe marginesy 20px ze wszystkich stron */
padding: 20px;

/* Górny i dolny margines 10px, lewy i prawy margines 20px */
padding: 10px 20px;

/* Górny margines 10px, lewy i prawy margines 20px, dolny margines 5px */
padding: 10px 20px 5px;

/* Górny margines 10px, prawy margines 15px, dolny margines 20px, lewy margines 25px */
padding: 10px 15px 20px 25px;

/* Do ustawienia marginesu wewnętrznego tylko dla jednej lub dwóch stron, używa się właściwości padding dla każdej strony osobno. Dla stron, które nie zostały wyraźnie określone, używane są domyślne wartości z arkusza stylów przeglądarki, a jeśli ich nie ma, przyjmowana jest wartość 0. */

padding-top: 20px;
padding-right: 10px;
padding-bottom: 15px;
padding-left: 30px;

margin-top: 20px;
margin-right: 10px;
margin-bottom: 15px;
margin-left: 30px;

/* GLOBALNY RESET STYLÓW */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

list-style-type: none;

/* najlepiej normalizator stylów */

.box {
  width: 200px;
  height: 200px;
  border: 5px solid orangered;
}

border-width: wartość;
border-style: wartość;
border-color: wartość;

/* by zmienać tylko jeden parametr */

.box {
  width: 200px;
  height: 200px;
  border: 5px solid orangered;
}

.box:hover {
  border-color: cyan;
}

.box {
  width: 200px;
  height: 200px;

  border-top: 3px solid blue;
  border-right: 5px dotted black;
  border-bottom: 7px dashed palevioletred;
  border-left: 9px double green;
}

/* zaokrąglenia */
.box {
  border-radius: 50%; /* okrąg */
}

/* lewy górny róg */
border-top-left-radius: 10px;

/* prawy górny róg */
border-top-right-radius: 20%;

/* prawy dolny róg */
border-bottom-right-radius: wartość;

/* lewy dolny róg */
border-bottom-left-radius: wartość;

/* by obraz nie wychodził poza obramowanie */

* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

.thumb {
  border: 10px solid green;
  border-radius: 50px;
  width: 480px;

  overflow: hidden; /* !!! */
}

overflow: visible | hidden | scroll | auto;

Istnieją również właściwości overflow-x і overflow-y,
które kontrolują przepełnienie tylko w odpowiedniej płaszczyźnie. .container {
  width: 480px;
  margin: 0 auto;
  padding: 0 15px;
}

/* elementy liniowe */

/* display: inline => można ustawić tylko geometrię poziomą */

.link {
  background-color: tomato;
  color: white;

  /* ✅ Działa */
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 50px;
  margin-left: 50px;

  /* ❌ Żadnego efektu */
  width: 1000px;
  height: 1000px;
  margin-top: 100px;
  margin-bottom: 100px;
}

/* hybryda display: inline-block */

<a href="" class="link" > Dowiedz się więcej</a > .link {
  display: inline-block;
  padding: 16px 32px;

  border-radius: 3px;
  background-color: teal;
  color: white;

  font-family: sans-serif;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
}

/* Ustawianie obrazów by były blokowe (nie bedzie gap między nimi) */

img {
  display: block;
}

/* */

.card-image {
  max-width: 100%;
}

img {
  display: block;
  max-width: 100%;
}

/* dopasowuje obraz do kontenera */

.thumb {
  height: 400px;
  width: 300px;
}

.thumb img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* FLEXBOX */

display: flex | inline-flex;

.menu {
  display: flex;
  gap: 8px;
}

flex-direction: row | row-reverse | column | column-reverse;

justify-content: flex-start | flex-end | center | space-between | space-around |
  space-evenly;

/* kontroluje rozmieszczenie wzdłuz cross-axis */
align-items: stretch | flex-start | flex-end | center | baseline;

/* Przydatne do header, na logo i kontakt */

.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* by układał w kolejncyh liniacj */

flex-wrap: nowrap | wrap | wrap-reverse;

/* Tworzenie siatki elementów */

.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.item {
  width: calc((100% - 20px) / 3);
}

align-content: flex-start | flex-end | center | space-between | space-around |
  space-evenly | stretch;

/* Elementy elastyczne

Elementy elastyczne są dziećmi kontenera elastycznego,
czyli elementami pierwszego poziomu zagnieżdżenia. */

flex-basis: auto | wartość;

flex-grow: udział;

/* Robimy SIDE-BAR */

<div
  class="container"
  > <aside
  class="sidebar"
  > Sidebar</aside
  > <main
  class="content"
  > Main
  content</main
  > </div
  > * {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  font-size: 20px;
  background-color: #edf2f7;
}

.container {
  display: flex;
  gap: 8px;
  max-width: 960px;
  margin: 0 auto;
}

.sidebar {
  flex-basis: 200px;
}

.content {
  flex-grow: 1;
}

.sidebar,
.content {
  height: 300px;
  padding: 20px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

/* Przyklejony footer */

<div class="page-container"> /*owrapujemy */
	<header>Page header</header>
	<main>Main content</main>
	<footer>Page footer</footer>
</div>

.page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

/* by nie kompresowało ikony */

.icon {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
}

/* dla pojedynczego elementu zamiast align-items */

.card img {
   align-self: flex-start;
}

/* Pseudoklasy strukturalne */

<ul
  class="list"
  > <li
  class="list-item"
  > HTML</li
  > <li
  class="list-item"
  > CSS</li
  > <li
  class="list-item"
  > JavaScript</li
  > <li
  class="list-item"
  > React</li
  > </ul
  > .list-item {
  color: blue;
}

.list-item:first-child {
  color: red;
}

.list-item:last-child {
  color: green;
}

/* usuwanie ostatniego marginesu */

.list-item {
  margin-bottom: 12px;
}

.list-item:last-child {
  margin-bottom: 0;
}

/* odwrotnie to samo */

.list-item:not(:last-child) {
  margin-bottom: 20px;
}

/* nth child */

# Przy n = 0
2 * 0 + 1 = 1

# Przy n = 1
2 * 1 + 1 = 3

# Przy n = 2
2 * 2 + 1 = 5

# I tak dalej dla n = 3, n = 4 ...

/* co drugi wiersz */

<ul class="list">
  <li class="list-item">1</li>
  <li class="list-item">2</li>
  <li class="list-item">3</li>
  <li class="list-item">4</li>
  <li class="list-item">5</li>
  <li class="list-item">6</li>
  <li class="list-item">7</li>
  <li class="list-item">8</li>
  <li class="list-item">9</li>
  <li class="list-item">10</li>
</ul>

/* parzyste */
.list-item:nth-child(2n) {
  background-color: orange;
}

/* Analogicznie, używając aliasu */
.list-item:nth-child(even) {
  background-color: orange;
}

/* nieparzyste */
.list-item:nth-child(2n + 1) {
   background-color: orange;
}

/* Analogicznie, używając aliasu */
.list-item:nth-child(odd) {
   background-color: orange;
}

/* Obrazy, kolejne ustawienia */

.hero {
  background-color: #2a2a2a;
  background-image: url(ścieżka do obrazu);
  background-repeat: no-repeat;
  background-position: 50% 50%; /* center, center */
  /* Szerokość 200px, wysokość będzie proporcjonalna */
  background-size: 200px; /* lub cover albo contain */
}

background-image: linear-gradient(
    to bottom,
    rgba(255, 0, 0, 0.3),
    rgba(255, 0, 0, 0.3)
  ),
  url(ścieżka do obrazu);

/* cienie */

box-shadow: <x-offset> <y-offset> <blur> <spread> <color>;

 {
  box-shadow: 10px 10px 8px 2px rgba(0, 0, 0, 0.3);
}

/* cień wewnętrzny */

box-shadow: inset <x-offset> <y-offset> <blur> <spread> <color>;

/* ikony SVG */

<img src="path/to/image.svg" alt="Description" />


/* Ustawiamy kolor wypełnienia w spokojnym stanie. */
.icon {
  fill: #2a2a2a;
}

/* Zmieniamy kolor wypełnienia po najechaniu kursorem. */
.icon:hover {
  fill: #03a9f4;
}

.icon {
  display: inline-flex;
  width: 80px;
  height: 80px;
  border: 2px dashed #2a2a2a;
  border-radius: 8px;
  fill: #2a2a2a;
}

.icon:hover {
  fill: #03a9f4;
}

<svg>
  <use href="./ścieżka-do-svg-sprite/imię-sprite˙a.svg#identyfikator-symbolu"></use>
</svg>


/* Pseudoelementy */

.box {
  /* style elementów */
}

.box::before {
  /* style pseudoelement before */
}

.box::after {
  /* style pseudoelement after */
}

.box::before {
  content: "To jest tekst w ::before";
  font-size: 40px;
  color: orange;
}

.box::after {
  content: "To jest tekst w ::after";
  font-size: 30px;
  color: teal;
}

/* Zastosuj style do pseudoelementu .box::before podczas najechania kursorem na element .box */
.box:hover::before {
  color: green;
}

/* Zastosuj style do pseudoelementu .box::after podczas najechania kursorem na element .box */
.box:hover::after {
  color: tomato;
}

/* przykład */

.list-link::before,
.list-link::after {
  content: '';
  display: inline-block
  width: 24px;
  height: 24px;
}


/* Elementy pozycjonowane */

position: static | relative | absolute | fixed | sticky 

/* Przejścia CSS */

transition-property: <właściwość>
transition-duration: <czas>
transition-timing-function: <funkcja przydziału czasu>
transition-delay: <opóźnienie>

{
  /*  Set transition values  */
  transition-property: background-color, transform;
  transition-duration: 500ms;
  transition-timing-function: linear; /* ease, ease-in/out/in-out */
  transition-delay: 0;
}

/* Animacja CSS */

@keyframes changeBgColor {
  0% {
    background-color: teal;
  }

  50% {
    background-color: orange;
  }

  100% {
    background-color: deepskyblue;
  }
}

.box {
  animation-name: changeBgColor;
}

/* lub */

. box {
 /* Podstawowe style elementów */
}

/* Dodajemy animację po najechaniu */
.box:hover {
 animation-name: changeBgColor;
}


@keyframes changeHeaderColor {
  0% {
    background-color: #d32f2f;
  }

  33% {
    background-color: #388e3c;
  }

  66% {
    background-color: #1976d2;
  }

    100% {
    background-color: #d32f2f;
  }
}

.box:hover {
  animation-name: changeBgColor;
  animation-duration: 3000ms;
  animation-timing-function: linear;
    animation-iteration-count: 5; (licza powtórzeń animacji)
      animation-delay: 1s;
        animation-direction: alternate;
}

/* Pause animation on hover */
.box:hover {
  animation-play-state: paused;
}

animation-fill-mode: none | forwards | backwards | both

/* Transform 2D */

.box::before {
  display: inline-block;
  font-size: 20px;
}

.box:nth-child(1) {
  /*   transform: scale(1.25); */
  background-color: orange;

  animation: animate125 3000ms infinite 1000ms;
}

.box:nth-child(1)::before {
  content: "scale(1.25)";
}


/* rotate */

.box {
  transform: rotate(45deg);
}

/* translate */

.box {
  transform: translate(100px, 200px);
}

/* !!! ukryta wiadomość */

<div class="box">
  <div class="overlay"></div>
</div>

.box {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  transform: translateY(100%);
}

.box:hover .overlay {
  transform: translateY(0);
}

.box {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  transform: translateY(100%);
  transition: transform 250ms ease-in-out;
}


/* umieszczenie bezwzględnie pozycjonowanego elementu dokładnie w środku bloku, względem którego jest on pozycjonowany */

<div class="parent">
  <div class="box"></div>
</div>

.parent {
	position: relative;
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* skręt */

.box {
  transform: skew(30deg);
}

/* Formularze */

<form name="feedback_form" autocomplete="off" novalidate> 
<!-- Elementy formularza --> </form>


<form> <!-- Elementy formularza --> <button type="submit">Submit feedback</button> </form>

button { font-family: inherit; color: currentColor; }

/* Input */

 <form> <input type="text" name="username" /> <button type="submit">Submit feedback</button> </form>

 input { font-family: inherit; }

 /* Label ! */

/* Element label jest etykietą, która opisuje, jakie informacje powinny być wprowadzone w polu wprowadzania. Atrybut label tworzy kategorie odpowiedzi w rozwijanym polu wyboru. */

 <form> 
<label> Username <input type="text" name="username" /> 
</label> <button type="submit">Submit feedback</button> 
</form>

<form> 
<label for="username">Username</label> 
<input type="text" name="username" id="username" />
 <button type="submit">Submit feedback</button> 
</form>

/* + Placeholder */

<form> 
   <label> 
Username <input type="text" name="username" placeholder="Jacob Mercer" /> 
</label> 
<button type="submit">Submit feedback</button> 
</form>

/* Pseudoelement ::placeholderjest wykorzystywany do dostosowywania wyglądu tekstu w podpowiedziach. */

input::placeholder { 
color: teal; 
font-weight: 700; }

input:hover::placeholder, 
input:focus::placeholder { 
color:orange; 
}

input { border: 1px solid orange; } 
input:placeholder-shown 
{ border-color: blue; }

/* Autofocus */

<input type="text" name="username" autofocus />

form:focus-within { 
border-color: blue; 
}

/* Textarea */

<textarea name="" rows="" cols="" placeholder=""></textarea>

resize: both | horizontal | vertical | none

/* Select */

<select name="size"> 
<option value="xs">Extra Small</option> 
<option value="s">Small</option> 
<option value="m" 
selected>Medium</option> 
<option value="l">Large</option> 
</select>

/* Grupowanie */

<select name="month">
  <optgroup label="Summer">
    <option value="s6">June</option>
    <option value="s7">July</option>
    <option value="s8">August</option>
  </optgroup>


  <optgroup label="Autumn">
    <option value="s9">September</option>
    <option value="s10">October</option>
    <option value="s11">November</option>
  </optgroup>
</select>

/* Input tupe */

<form>
	<label>
	  Email
	  <input type="email" name="email" />
	</label>
	<label>
	  Password
	  <input type="password" name="pwd" minlength="5" maxlength="12" />
	</label>
  <label>
    Phone number
    <input type="tel" name="phone" />
  </label>
  <button type="submit">Register</button>
</form>

/* Kontrola nad wartościami */

<input type="number" name="age" value="0" min="18" max="120" />

/* Aby wybrać tylko datę */
<input type="date" />
/* Aby wybrać tylko czas */
<input type="time" />
/* Aby wybrać oba */
<input type="datetime-local" />

/* Radio buttons */

<form>
  <p>Choose a color:</p>
  <label>
    <input type="radio" name="color" value="red" checked />
    Red
  </label>
  <label>
    <input type="radio" name="color" value="white" />
    White
  </label>
  <label>
    <input type="radio" name="color" value="green" />
    Green
  </label>
</form>

/* Checkbox */

<form>
  <p>What are your hobbies?</p>
  <label>
    <input type="checkbox" name="hobby" value="music" checked />
    Music
  </label>
  <label>
    <input type="checkbox" name="hobby" value="sports" checked />
    Sports
  </label>
  <label>
    <input type="checkbox" name="hobby" value="reading" />
    Reading
  </label>
</form>

input:checked {
	box-shadow: 0 0 0 2px orangered;
}

input[type="checkbox"]:checked { box-shadow: 0 0 0 2px orangered; }

ul + p { background-color: yellow; } /* p tylko po ul */

/* Zmienia tez kolor treści */

<input type="checkbox" name="hobby" value="music" id="music" /> <label for="music">Music</label>

input[type="checkbox"]:checked + label { color: blue; }

/* Wymagane */
<input type="email" name="email" required />

/* Nieaktywny */

<button type="button">Active button</button> 
<button type="button" disabled>Disabled button</button>

button:disabled {
  background-color: lightgray;
  cursor: not-allowed;
}

/* Grupowanie formularzy */

<form>
 <fieldset>
 <legend>Nagłówek grupy</legend>
 <!-- Grupa interaktywnych elementów -->
 </fieldset>


 <fieldset>
 <legend>Nagłówek grupy</legend>
 !-- Grupa interaktywnych elementów -->
 </fieldset>


 <button type="submit">Submit</button>
</form>

fieldset {
 padding: 0;
 margin: 0;
 border: none;
}

/* Zapytania media */

body {
 background-color: white;
}


/* Ma zastosowanie, jesli szerokość viewport jest poniżej 600px */
@media (max-width: 600px) {
 body {
 background-color: green;
 }
}


/* Ma zastosowanie, jesli szerokość viewport jest powyżej 800px */
@media (min-width: 800px) {
 body {
 background-color: orange;
 }
}

/* Przykład nadpisywania */

/* Style bazowe */
body {
 color: #2a2a2a;
 background-color: #fff;
 font-size: 16px;
 line-height: 1.5;
 font-family: sans-serif;
}


/* Od 600px i więcej zmieniamy kolor tła, rozmiar i kolor tekstu */
@media (min-width: 600px) {
 body {
 background-color: #2196f3;
 font-size: 20px;
 color: #fff;
 }
}


/* Od 900px i więcej zmieniamy kolor tła. */
@media (min-width: 900px) {
 body {
 background-color: #4caf50;
 }
}

/* Media types */

@media print {
 body {
  color: green;
 }
}

@media screen and (min-width: 400px) { /* ... */ }

/* do wszystkich */

@media (min-width: 400px) { /* ... */ }

/* Adaptive grid */

<div class="container">
  <div class="element">1</div>
  <div class="element">2</div>
  <div class="element">3</div>
  <div class="element">4</div>
  <div class="element">5</div>
  <div class="element">6</div>
</div>

.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: 1170px;
  min-width: 320px;
  maring: 0 auto;
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
  }

  .element {
    flex-basis: calc((100% - 10px) / 2);
  }
}

@media screen and (min-width: 1024px) {
  .container {
    gap: 15px;
  }

  .element {
    flex-basis: calc((100% - 30px) / 3);
  }
}

/* Obrazy elastyczne */

img {
  display: block;
  max-width: 100%;
}

/* Obrazy responsywne */

<img
  srcset="./img/photo.jpg 1x, ./img/photo@2x.jpg 2x"
  src="./img/photo.jpg"
  alt="Opis obrazów dla wszystkich wersji"
/>

/* Obrazy tła */

/* Style bazowe і 1x grafika */
.box {
  width: 200px;
  height: 300px;
  background-image: url('photo.png');
  background-size: 200px 300px;
}

/* Określamy nową ścieżkę do obrazu jeśli zagęszczenie obrazu wynosi minimum 2x */
@media (min-resolution: 192dpi) {
  .box {
    background-image: url('photo@2x.png');
  }
}
